

body {
    background-color: darkblue;
}

header,
footer,
.content {
    margin: 0 5%;
    background-color: white;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex2 {
    display: flex;
    justify-content: center;
}

.logo > img {
    height: 20vh;
}

.topNav {
    width: 50%;
    background-color: #7B7171;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.topNav > a {
    background-color: #C1B4B4;
    padding: 5px;
    text-decoration: none;
    color: black;
    width: 20%;
    text-align: center;
}

.content {
    padding-top: 40px;
}



.heroContent {
    width: 38vw;
    height: 300px;
    margin-left: 10px;
     background-image: url("../Situational-Awareness-website/Images/PLACEHOLDER.PNG"); 
   
}

.contentSection {
    padding: 20px;
}

.awarenesscontent {
background-color: white;
padding: 20px;
margin: 0 5%;
}

.acheader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    width: 80%;
    margin-left: 10%;
    height: 60vh;
    background-image: url(/Images/PLACEHOLDER.PNG);
}

.practice-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 3rem;
}

.practice-section h3 {
    background-color: #D7ADAD;
    padding-inline: 1rem;
    font-weight: normal;
}

.practice-steps {
    width: 90%;
    background-color: #F1E5A5;
}

.practice-steps h4 {
    --h4-padding: 0.4rem;
    margin: var(--h4-padding) 0 0 var(--h4-padding);
}

.practice-steps p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.ps-p-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: auto 0;
}

/*examples*/

.secflex{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly;
    
}
.secflex>article{
    width: 49%;
    border-right: 2px solid black;
}


.secflex>aside{
    width: 50%;
}


.ptext{
    padding: 10px;
}

.secflex>article>h2{
    width: 100%;
    text-align: center;
}

aside{
    display: flex;
    justify-content: center;
}



@media screen and (min-width: 400px){
    .secflex>article{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }
    .secflex>aside{
        width: 100%;
    }
    .ptext{
        width: 40%;
    }
}