body {
    background-color: darkblue;
}

header,
footer,
.content {
    margin: 0 10%;
    background-color: white;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex2 {
    display: flex;
    justify-content: center;
}

.logo > img {
    height: 20vh;
}

.topNav {
    width: 50%;
    background-color: #7B7171;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.topNav > a {
    background-color: #C1B4B4;
    padding: 5px;
    text-decoration: none;
    color: black;
    width: 20%;
    text-align: center;
}

.content {
    padding-top: 40px;
}

.hero > p {
    width: 38vw;
    height: 300px;
    margin-left: 10px;
    text-align: end;
}

.heroText {
    background-image: url("Images/Placeholder Hero image.PNG");
    color: white;
}

.contentSection {
    padding: 20px;
}