* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 18px;
}

div {
    font-size: 18px;
}

body {
    /* background-color: rgb(117, 117, 212); */
    background-image: linear-gradient(to bottom right, rgb(159, 165, 229), rgb(77, 85, 166));
}

header,
footer,
.content {
    margin: 0 5%;
    background-color: white;
    border-right: black solid 5px;
    border-left: black solid 5px;
    border-top: solid rgb(94, 94, 94) 5px;
}



.flex {
    display: flex;
    justify-content: space-between;
}

.flex2 {
    display: flex;
    justify-content: center;
}

.logo > img {
    height: 10vh;
    border: solid black 5px;
    margin: 20px;
    box-sizing: border-box;
}

.topNav {
    width: 50%;
    background-color: #c0b7af;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    border: solid rgb(211, 206, 168) 5px;
    margin-bottom: 15px;
}

.topNav > a {
    background-color: #b8cbd1;
    padding: 5px;
    text-decoration: none;
    color: black;
    width: 50%;
    text-align: center;
    size: 20px;
}

a:hover {
    transition: all 500ms;
    background-color: rgb(207, 205, 195);
    color: rgb(73, 0, 0)    ;
}



.content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.IndexText {
    /* background-color: aqua; */
    display: flex;
    
}

.IndexText div{
    margin: 20px;
}

.IndexText img{
    width: 20%;
    margin-left: 50px;
}

.FirstIndexText {
    text-align: left;
    justify-content: left; 
}

.FirstIndexText div {
    text-align: left;
    justify-content: left; 
    width: 50%;
    margin-left: 10%;
    display: flex;
    background-color: #d9e6e8;
    border: solid rgb(214, 194, 111) 5px;
    padding: 20px;
    height: 20vh ;
    border-radius:  25px 25px 25px 25px;
}

.FirstIndexText img {
    border: solid rgb(175, 163, 113) 5px;
    border-radius:  25px 25px 25px 25px;
}


.SecondIndexText {
    text-align: left;
    justify-content: center;
    
}

.SecondIndexText div {
    width: 22.2%;
    display: flex;
    background-color: #d9e6e8;
    border: solid rgb(227, 213, 158) 5px;
    padding: 20px;
    height: 20vh;
    border-radius:  25px 25px 25px 25px;
    display: flex;
    flex-direction: column;
}



.heroContent {
    width: 38vw;
    height: 300px;
    margin-left: 10px;
    color: aliceblue;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 25px;
    text-shadow: #F1E5A5 0px 0px 10px;
}

.contentSection {
    padding: 20px;
}

.contentSection p{
    width: 1400px;
    margin-left: 200px;
}

.c {
background-color: white;
padding: 20px;
margin: 0 5%;
}

.awarenesscontent p {
    background-color: white;
    padding: 20px;
    /* margin: 0 5%; */
    display: flex;
    justify-content: center;
}

.acheader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    width: 80%;
    margin-left: 10%;
    height: 60vh;
    background-image: url(Images/Situational\ awareness\ hero\ image.png);
     background-repeat: no-repeat; 
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 50px;
    border: solid rgb(104, 126, 130) 5px;
    border-radius: 50px 50px 50px;
}


.practice-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 3rem;
    background-color: #f1f6f6;
    
}

.practice-section h3 {
    margin-top: 100px;
    background-color: #cfe4e2;
    padding-inline: 1rem;
    font-weight: normal;
    padding: 20px;
    border: solid rgb(33, 94, 113) 5px;
    width: 600px;
    text-align: center;
    border-radius: 25px 25px 25px;
}

.practice-steps {
    width: 75%;
    background-color: #F1E5A5;
    border: solid navy 5px;
    border-radius: 15px 15px 15px;
    margin-left: 5px;
}

.practice-steps h4 {
    --h4-padding: 0.4rem;
    margin: var(--h4-padding) 0 0 var(--h4-padding);
}

.practice-steps p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.ps-p-container {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100px;
    margin: auto 0;
    margin-left: 7px;
}

/*examples*/

.secflex{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly;
    
}
.secflex>article{
    width: 49%;
    border-right: 2px solid black;
}


.secflex>aside{
    width: 50%;
}


.ptext{
    padding: 10px;
}

.secflex>article>h2{
    width: 100%;
    text-align: center;
}

aside{
    display: flex;
    justify-content: center;
}

footer {
    background-color: rgb(227, 220, 220);
    height: 30vh;
}

.FooterCreditsContacts {
    margin-left: 20px;
}

.footer-navbar {
    width: 50px;
}

.heroContent p {
   font-size: 90px;
}

.heroContent div {
    display: flex;
    align-items: center;
    justify-content: center;
 }


 .ExamplesDiv img {
    width: 300px;
    border: #794642 solid 5px;
 }

 .ExamplesDiv article {
    width: 1100px;
 }

 .ExamplesDiv p {
    width: 350px;
    margin-top: 0;
    padding-top: 5px;
 }

    .ExamplesDiv 
    p,
   .ExamplesDiv h4 {
    background-color: #d9e6e8;
    padding: 10px;
    border: solid 5px  #dfcba8;
 }

.ExamplesDiv h4 {
    width: 350px;
    margin-bottom: 0;
    border-bottom: none;
 }

 .ExamplesDiv section {
    display: flex;
    flex-direction: row;
    justify-content: center;
 }

  /* ----------------------------------------------------------------- */
 /* ----------------------------------------------------------------- */
 /* ----------------------------------------------------------------- */
 /* ----------------------------------------------------------------- */
 /* ----------------------------------------------------------------- */
 /* ----------------------------------------------------------------- */
 /* ----------------------------------------------------------------- */
 /* ----------------------------------------------------------------- */
                           /* MEDIA WORKINGS */

@media screen and (max-width: 1650px) {
    .SecondIndexText {
        text-align: left;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .SecondIndexText div{
        width: 1000px;
    }
    
}

@media screen and (max-width: 1240px) {
    .SecondIndexText {
        text-align: left;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .SecondIndexText div{
        width: 700px;
    }

    
    
}

@media screen and (max-width: 1620px) {
    .ExamplesDiv img {
        width: 300px;
        border: #794642 solid 5px;
     }
    
     .ExamplesDiv article {
        width: 500px;
     }
    
     .ExamplesDiv p {
        width: 350px;
        margin-top: 0;
        padding-top: 5px;
     }

     .ExamplesDiv h4 {
        width: 350px;
        margin-bottom: 0;
        border-bottom: none;
     }
     
    
     @media screen and (max-width: 1000px) {
        .ExamplesDiv img {
            width: 300px;
            border: #794642 solid 5px;
         }
        
         .ExamplesDiv article {
            width: 250px;
            margin-right: 150px;
         }
        
         

        .ExamplesDiv 
        p,
       .ExamplesDiv h4 {
        background-color: #d9e6e8;
        padding: 10px;
        border: solid 5px  #dfcba8;
         }
    
    .ExamplesDiv h4 {
        width: 350px;
        margin-bottom: 0;
        border-bottom: none;
     }
    
     .ExamplesDiv section {
        display: flex;
        flex-direction: row;
        justify-content: center;
     }
}

@media screen and (max-width: 800px) {
    .practice-section h3 {
        margin-top: 100px;
        background-color: #cfe4e2;
        padding-inline: 1rem;
        font-weight: normal;
        padding: 20px;
        border: solid rgb(33, 94, 113) 5px;
        width: 300px;
        text-align: center;
        border-radius: 25px 25px 25px;
    }

    .practice-steps {
        width: 350px;
    }
}

@media screen and (max-width: 860px) {
    .ExamplesDiv section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 920px) {
    .SecondIndexText {
        text-align: left;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .FirstIndexText div {
        height: 35vh;
        margin-left: 0%;
    }

   

    .FirstIndexText  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
        
    }
    
    .SecondIndexText div{
        width: 500px;
    }
    
}

@media screen and (max-width: 640px) {
    .SecondIndexText {
        text-align: left;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .SecondIndexText div{
        width: 350px;
    }
    
}

@media screen and (max-width: 650px) {
    .heroContent p {
        width: fit-content;
        font-size: 55px;
        height: 300px;
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 400px) {
    .SecondIndexText {
        text-align: left;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .SecondIndexText div{
        width: 350px;
    }

    .heroContent {
        font-size: 2px;
    }
    
}

@media screen and (max-width:539px) {
    .FirstIndexText {
        text-align: left;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .FirstIndexText div{
        width: 350px;
    }

}

@media screen and (max-width:715px) {
    .FirstIndexText div{
        height: 350px;
    }
}

@media screen and (max-height:500px) {
    .FirstIndexText div{
        width: 250px;
        height: 80vh;
        margin-left: 0;
        margin-right: 0;
    }

    .SecondIndexText div{
        width: 250px;
        height: 40vh;
    }

    .heroContent p {
        width: fit-content;
        font-size: 45px;
        height: 300px;
        text-align: center;
        margin: 0 auto;
    }
    
    .heroContent h2 {
        width: fit-content;
        font-size: 25px;
        height: 300px;
        text-align: center;
        margin: 0 auto;
    }



/* ------ EXAMPLES PHONE MEDIA*/
    .ExamplesDiv img {
        width: 220px;
        border: #794642 solid 5px;
        margin-top: 62px;
        margin-bottom: 3px;
     }
    
     .ExamplesDiv h4 {
        width: 250px;
        margin-bottom: 0;
        border-bottom: none;
     }

     .ExamplesDiv article {
        width: 230px;
        flex-direction: column;
        height: 48.2vh;
        margin-left: 0px;
        margin-right: 0px;
     }
    
     

    .ExamplesDiv 
    p,
   .ExamplesDiv h4 {
    background-color: #d9e6e8;
    padding: 10px;
    border: solid 5px  #dfcba8;
    flex-direction: column;
    margin: 0;
     }

     .ExamplesDiv p  {
        height: 45vh;
        width: 200px;
        margin-bottom: 50px;
     }

    

.ExamplesDiv h4 {
    width: 200px;
    margin-bottom: 0;
    border-bottom: none;
 }

 .ExamplesDiv section {
    margin-right: 5px;
 }
}

    footer {
        height: 40vh;
    }
    
    .hero {
        margin-right: 35px;
    }

    /* ------ METHODS PHONE MEDIA*/

    .practice-section h3 {
        width: 200px;
    }

    .practice-steps {
        width: 200px;
        height: 30vh;
    }

    .practice-steps p{
        margin-top: 100px;
        padding-right: 10px;
    }

    .topNav > a {
        background-color: #b8cbd1;
        padding: 5px;
        text-decoration: none;
        color: black;
        border: solid #a2a6a7 5px;
        width: 50%;
        text-align: center;
       
    }

    .topNav {
        width: 80%;
        background-color: #c0b7af;
        padding: 5px;
        display: flex;
        justify-content: space-around;
        border: solid rgb(211, 206, 168) 5px;
        margin-bottom: 15px;
    }

    .FirstIndexText img {
        width: 200px;
        margin-left: 0;
    }
}


/* MEDIA SCREEN HEIGHT */
/* MEDIA SCREEN HEIGHT */
/* MEDIA SCREEN HEIGHT */
/* MEDIA SCREEN HEIGHT */
/* MEDIA SCREEN HEIGHT */

@media screen and (max-height:650px) {
    .FirstIndexText div{
        width: 250px;
        height: 80vh;
        margin-left: 0;
        margin-right: 0;
    }

    .SecondIndexText div{
        width: 250px;
        height: 60vh;
    }

    .heroContent p {
        width: fit-content;
        font-size: 45px;
        height: 100px;
        text-align: center;
        margin: 0 auto;
    }
    
    .heroContent h2 {
        width: fit-content;
        font-size: 25px;
        height: 00px;
        text-align: center;
        margin: 0 auto;
    }
    
    .heroContent {
        width: 200px;
    }



/* ------ EXAMPLES PHONE MEDIA*/
    .ExamplesDiv img {
        width: 220px;
        border: #794642 solid 5px;
        margin-top: 62px;
        margin-bottom: 3px;
     }
    
     .ExamplesDiv h4 {
        width: 250px;
        margin-bottom: 0;
        border-bottom: none;
     }

     .ExamplesDiv article {
        width: 230px;
        flex-direction: column;
        height: 48.2vh;
        margin-left: 0px;
        margin-right: 0px;
     }
    
     

    .ExamplesDiv 
    p,
   .ExamplesDiv h4 {
    background-color: #d9e6e8;
    padding: 10px;
    border: solid 5px  #dfcba8;
    flex-direction: column;
    margin: 0;
     }

     .ExamplesDiv p  {
        height: 80vh;
        width: 200px;
        margin-bottom: 50px;
     }

     

     .ExamplesDiv img  {
        margin-top: 240px;
     }

    

.ExamplesDiv h4 {
    width: 200px;
    margin-bottom: 0;
    border-bottom: none;
 }

 .ExamplesDiv section {
    margin-right: 5px;
 }


    footer {
        height: 65vh;
    }
    
    .hero {
        margin-right: 35px;
    }

    /* ------ METHODS PHONE MEDIA*/

    .practice-section h3 {
        width: 200px;
    }

    .practice-steps {
        width: 200px;
        height: 50vh;
    }

    .practice-steps p{
        margin-top: 100px;
        padding-right: 10px;
    }

    .topNav > a {
        background-color: #b8cbd1;
        padding: 5px;
        text-decoration: none;
        color: black;
        border: solid #a2a6a7 5px;
        width: 50%;
        text-align: center;
       
    }

    .topNav {
        width: 80%;
        background-color: #c0b7af;
        padding: 5px;
        display: flex;
        justify-content: space-around;
        border: solid rgb(211, 206, 168) 5px;
        margin-bottom: 15px;
    }

    .FirstIndexText img {
        width: 200px;
        margin-left: 0;
    }
}